<!DOCTYPE html>
<html lang="zh-CN"></html>
<head>
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css"/>
    <script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
<header>
    <div class="mdui-toolbar mdui-color-light-green" style="margin-bottom: 10px">
        <span class="mdui-typo-title">{{ .title }}</span>
        <div class="mdui-toolbar-spacer"></div>
    </div>
</header>
<div class="mdui-container main" style="column-gap: 4px;">
    {{ .items }}
</div>
<footer>

</footer>
</body>